# Локальный запуск (uvicorn) — относительный путь к SQLite
DATABASE_URL=sqlite+aiosqlite:///./database.db

# Учётка админки (Basic Auth)
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin

# Порт, на котором будет слушать docker-compose
APP_PORT=8000
